@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}
.home::after{
  content: '';
  position: absolute;
  left: 0; /* Align with the left edge */
  bottom: -8px; /* Position at the bottom */
  width: 100%; /* Full width */
  height: 2px; /* Thickness of the underline */
  background-color: #000; /* Color of the underline */
}

.copyright::before{
  content: '';
  position: absolute;
  left: 0; /* Align with the left edge */
  bottom: 100px; /* Position at the bottom */
  width: 100%; /* Full width */
  height: 2px; /* Thickness of the underline */
  background-color: grey; /* Color of the underline */
}


.sign-bg{
}

news{
  background-image: url('../src/assets/bg.png');
  background-size: cover;    /* Scales image to cover entire container */
  background-position: center; /* Centers image */
  background-repeat: no-repeat; /* Prevents repeating */
  opacity: 0.2;
}

.clip-overlay {
  clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 75%);
}
/* .btn{
  background-color: black;
  color: white;
  border-radius: 7px;
  padding: 7px 24px;
} */